<!-- NgFor Objs-->
<h1>*ngFor Objs</h1>
<div>
  <div *ngFor="let product of products">
    <img [src]="product.image" alt="image">
    <h2 ></h2>

  </div>
</div>

<!-- NgFor-->
<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add name</button>
<ul>
  <li *ngIf="names.length === 0">No hay nombres</li>
  <li *ngFor="let name of names; index as i">
    {{i}}{{name}}
    <button (click)="deleteName(i)">Delete</button>
  </li>
</ul>

<!-- NgIf-->
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name"/>
<p *ngIf="person.name === 'julian'">Soy julian</p>
<p *ngIf="person.name === 'jimmy' && person.age === 29; else elseBlock">Soy jimmy</p>
<ng-template #elseBlock>
  <p>Bloque de else</p>
</ng-template>

<!-- Ng model-->
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"/>
<p>Valid: {{nameInput.valid}}</p>
<p>Age: {{ageInput.valid}}</p>
<input type="number" max="18" min="10" required #ageInput="ngModel" [(ngModel)]="person.age"/>
<hr/>
<!-- Manejo de eventos-->
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toggle Button</button>
<p> Edad {{person.age}}</p>
<button (click)="increaseAge()">Age++</button>

<div class="box" (scroll)="onScroll($event)">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus quo, quisquam delectus nisi voluptates deserunt veniam veritatis voluptatibus? Tempore nostrum optio dicta accusantium est blanditiis, laborum impedit natusdsadsadsadsad dsad sadas a dsa dsafdsfdgfdsfdsgdsf dolorem quis.</p>
</div>
<p> Nombre:  {{person.name}}</p>
<input type="text" [value] ="person.name" (keyup)="changeName($event)" />
<hr/>
<!-- Property Blinding: sirve para configurar propiedades de elementos html estados de los botones el value  -->
<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar"/>
<hr/>
<!-- String interpolation: funciona para renderizar contenido  -->
<h1>Hola Mundo</h1>
<h2>{{'Hola Mundo '.repeat(5)}}</h2>
<p>3+3= {{3+3}}</p>
<h3>Hola, soy {{name}} y tengo {{age}} años</h3>
<img src={{img}} alt="image">
